* {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	margin: 0;
	padding: 0;
	/* overflow: hidden; */
}


#logo {
	height: 30%;
	width: 30%;
}

#login {
	height: 5%;
	float: right;
}

header {

	text-align: center;
}

header a:hover {
	background-color: steelblue;
}

footer {
	background-color: dimgrey;
	border: 3px solid #bdc3c7;
	padding: 1% 0;
	border-radius: 10px;
	color: white;
	text-align: center;
}

#scroll-keranjang {
	position: fixed;
	top: 8px;
	right: 5px;
	width: 6%;
	opacity: 0.5;
}

#scroll-keranjang:hover {
	opacity: 1;
}


#scroll-top {
	position: fixed;
	bottom: 5px;
	right: 5px;
	width: 3%;
	opacity: 0.5;
}

#scroll-top:hover {
	opacity: 1;
}

#scroll-facebook {
	position: relative;
	margin-top: 10px;
	right: 5px;
	width: 10%;
	opacity: 0.9;
}

#scroll-facebook:hover {
	opacity: 1;
}


#scroll-twiter {
	position: relative;
	margin-top: 10px;
	right: 5px;
	width: 10%;
	opacity: 0.9;
}

#scroll-twiter:hover {
	opacity: 1;
}


#scroll-instagram {
	position: relative;
	margin-top: 10px;
	right: 5px;
	width: 10%;
	opacity: 0.9;
}

#scroll-instagram:hover {
	opacity: 1;
}


#scroll-whatsapp {
	position: relative;
	margin-top: 10px;
	right: 5px;
	width: 10%;
	opacity: 0.9;
}

#scroll-whatsapp:hover {
	opacity: 1;
}

main {
	padding: 1%;
	 height: 58%;
	 overflow: auto;
}

p {
	text-indent: 5%;
	text-align: justify;
}


/* Tambahan Aditya */
.button {
	background-color: #008CBA;
	border: none;
	color: white;
	padding: 10px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:active {
	text-decoration: underline;
}

.card {
	background-color: lightgray;
	;
	padding: 20px;
	margin-top: 20px;
}

.button {
	background-color: #008CBA;
	border: none;
	color: white;
	padding: 10px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.topnav {
	overflow: hidden;
	background-color: #333;
}

.header img {
	float: left;
	width: 100px;
	height: 100px;
}

.header h1 {
	position: relative;
	top: 18px;
	left: 10px;
}

* {box-sizing: border-box;}

body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

.header {
	overflow: hidden;
	background-color: #f1f1f1;
	padding: 20px 10px;
}

.header a {
	float: left;
	color: black;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 18px;
	line-height: 25px;
	border-radius: 4px;
}

.header a.logo {
	font-size: 25px;
	font-weight: bold;
}

.header #logo {
	float: left;
	width: 50px;
}

.header a:hover {
	background-color: #ddd;
	color: black;
}

.header a.active {
	background-color: dodgerblue;
	color: white;
}

.header-right {
	float: right;
}

.header-right a:active{
	background-color: dodgerblue;
	color: white;
}

.header-right a:hover{
	background-color: dodgerblue;
	color: white;
}

@media screen and (max-width: 500px) {
	.header a {
		float: none;
		display: block;
		text-align: left;
	}

	.header-right {
		float: none;
	}
}

#banner {
	-ms-flex-align: center;
	-ms-flex-pack: center;
	background-color: #111111;
	color: rgba(255, 255, 255, 0.5);
	align-items: center;
	display: flex;
	justify-content: center;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-top: 0;
	display: -ms-flexbox;
	height: 35rem !important;
	min-height: 35rem;
	overflow: hidden;
	position: relative;
	text-align: center;
	width: 100%; }

#banner > .inner {
	z-index: 3; }

#banner h1 {
	font-size: 3rem;
	margin-bottom: 1rem; }

#banner p {
	font-size: 1.5rem;
	text-align: center;
}

#banner img {
	transform: translateX(50%) translateY(50%);
	bottom: 50%;
	height: auto;
	min-height: 100%;
	min-width: 100%;
	overflow: hidden;
	position: absolute;
	right: 50%;
	width: auto; }

#banner:after {
	background: linear-gradient(135deg, #5443ce 0%, #111111 74%);
	content: ' ';
	display: block;
	height: 100%;
	left: 0;
	opacity: 0.6;
	position: absolute;
	top: 0;
	webkit-linear-gradientidth: 100%;
	width: 100%;
	z-index: 1; }

.wrapper {
	padding: 8rem 0 6rem 0 ;
	position: relative;
	z-index: 1; }

#footer {
	background-color: #111111;
	color: rgba(255, 255, 255, 0.5);
	padding: 8rem 0 6rem 0 ; }

#footer a {
	color: #ce1b28; }
#footer strong, #footer b {
	color: #ffffff; }

#footer a {
	color: rgba(255, 255, 255, 0.5);
	text-decoration: none; }

#footer .content {
	display: flex;
}
#footer .content section {
	width: 25%; }
#footer .content section:first-child {
	width: 50%;
	padding-right: 4rem; }
#footer .content section:last-child {
	padding-left: 4rem; }


.inner {
	margin: 0 auto;
	width: 75rem;
	max-width: calc(100% - 6rem); }


ul.alt {
	list-style: none;
	padding-left: 0; }
ul.alt li {
	border-top: solid 1px;
	padding: 0.75rem 0; }

ul.alt li:first-child {
	border-top: 0;
	padding-top: 0; }

ul.alt li:last-child {
	padding-bottom: 0; }

ul li {
	padding-left: 0.325rem;
	list-style: none;}