* {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	margin: 0;
	padding: 0;
	/* overflow: hidden; */
}

body {
	background-color: #bdc3c7;
}

#logo {
	height: 30%;
	width: 30%%;
}

#login {
	height: 5%;
	float: right;
}

header {

	text-align: center;
}

/* header a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
} */

/* header:hover {
	background-color: #2c3e50;
} */

header a:hover {
	background-color: steelblue;
}

footer {
	background-color: dimgrey;
	border: 3px solid #bdc3c7;
	padding: 1% 0;
	border-radius: 10px;
	color: white;
	text-align: center;
}

#scroll-keranjang {
	position: fixed;
	top: 8;
	right: 5;
	width: 6%;
	opacity: 0.5;
}

#scroll-keranjang:hover {
	opacity: 1;
}


#scroll-top {
	position: fixed;
	bottom: 5;
	right: 5;
	width: 3%;
	opacity: 0.5;
}

#scroll-top:hover {
	opacity: 1;
}

#scroll-facebook {
	position: fixed;
	bottom: 50;
	right: 5;
	width: 3%;
	opacity: 0.5;
}

#scroll-facebook:hover {
	opacity: 1;
}


#scroll-twiter {
	position: fixed;
	bottom: 100;
	right: 5;
	width: 3%;
	opacity: 0.5;
}

#scroll-twiter:hover {
	opacity: 1;
}


#scroll-instagram {
	position: fixed;
	bottom: 150;
	right: 5;
	width: 3%;
	opacity: 0.5;
}

#scroll-instagram:hover {
	opacity: 1;
}


#scroll-whatsapp {
	position: fixed;
	bottom: 200;
	right: 5;
	width: 3%;
	opacity: 0.5;
}

#scroll-whatsapp:hover {
	opacity: 1;
}





main {
	padding: 1%;
	/* height: 58%; */
	/* overflow: auto; */
}

p {
	text-indent: 5%;
	text-align: justify;
}


/* Tambahan Aditya */
.button {
	background-color: #008CBA;
	border: none;
	color: white;
	padding: 10px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:active {
	text-decoration: underline;
}

.card {
	background-color: lightgray;
	;
	padding: 20px;
	margin-top: 20px;
}

table th {
	width: 130;
}

.button {
	background-color: #008CBA;
	border: none;
	color: white;
	padding: 10px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.topnav {
	overflow: hidden;
	background-color: #333;
}