*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}

body{
    background-color: #bdc3c7;
}

#logo{
    padding-left: 50%;
    height: 15%;
}

#login{
    height: 5%;
}

header{
    margin-bottom: 10px;
    background-color: #34495e;
    border: 3px solid #bdc3c7;
    padding: 1% 0;
    border-radius: 10px;
}

header a{
    text-decoration: none;
    padding: 0 10%;
    color: white;
}

header:hover{
    background-color: #2c3e50;
}

header a:hover{
    background-color: blue;
}

footer{
    background-color: #34495e;
    border: 3px solid #bdc3c7;
    padding: 1% 0;
    border-radius: 10px;
    color: white;
    text-align: center;
}

#scroll-top{
    position: fixed;
    bottom: 5;
    right: 5;
    width: 3%;
    opacity: 0.5;
}

#scroll-top:hover{
    opacity: 1;
}

main{
    padding: 1%;
    /* height: 58%; */
    /* overflow: auto; */
}

p{
    text-indent: 5%;
    text-align: justify;
}


#sepeda form {
	position: relative;
	height: 150px;
	width: 100%;
	background-color: gray;
	min-width: 1000px;
}

.filter-title {
	position: absolute;
	font-size: 20px;
	left: 50%;
	top: 10px;
	transform: translate(-50%, -50%);
}

.baru-bekas {
	position: absolute;
	left: 3%;
	top: 15px;
	
}

.rentang-harga {
	position: absolute;
	left: 3%;
	top: 75px;
}

.merek-sepeda ul, .tipe-sepeda ul {
	list-style-type: none;
}

.merek-sepeda {
	position: absolute;
	left: 30%;
	top: 15px;
	height: 100%;
	width: 35%;	
}

.merek-col2 {
	position: absolute;
	left: 60%;
	top: 20px;
	height: 100%;	
}

.tipe-sepeda {
	position: absolute;
	left: 63%;
	top: 15px;
	width: 30%;
	height: 100%;	
}

.tipe-col2 {
	position: absolute;
	left: 50%;
	top: 20px;
	height: 100%;	
}

.search {
	position: absolute;
	right: 3%;
	top: 40%;
	box-sizing: border-box;
}

#search {
	padding: 5px;
	font-size: 14px;
	width: 60px;
}

#search:hover {
	background-color: green;
	color: white;
}

.reset {
	position: absolute;
	right: 3%;
	bottom: 10%;
	
}

#reset {
	padding: 5px;
	font-size: 14px;
	width: 60px;
}

#reset:hover {
	background-color: green;
	color: white;
}

#about, #sepeda, #home{
	margin-bottom: 5%;
}

.center{
	text-align: center;
}

.mb-2{
	margin-bottom: 2%;
}

.mt-2{
	margin-top: 2%;
}